<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
</head>

<body>
    <%- include('common/header') %> 
    <h1>this is rendered profile page</h1>
    <h1>
        <%=user.name%>
    </h1>
    <h1>
        <%=user.contact%>
    </h1>
    <h1>
        <%=user.email%>
    </h1>

    <ul>
        <% user.skills.forEach((item)=>{ %>
            <li>
                <%= item %>
            </li>
        <% }) %>
    </ul>

</body>

</html>